* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* Quita el borde/recuadro de enfoque de los SVG y sectores en Recharts */
.recharts-wrapper *:focus,
.recharts-surface *:focus,
.recharts-sector:focus,
.recharts-pie-sector:focus,
.recharts-active-shape:focus {
  outline: none !important;
  box-shadow: none !important;
}